# Ignore everything except...
/**
!/.gitignore

!/_Banker/
!/_Banker/**

!/_CannotHeal/
!/_CannotHeal/**

!/_Character/
!/_Character/**

!/_Commands/
!/_Commands/**

!/_EnteredCombat/
!/_EnteredCombat/**

!/_Esc/
!/_Esc/**

!/_EventFinder/
!/_EventFinder/**

!/_Follow/
!/_Follow/**

!/_FriendsWithBenefits/
!/_FriendsWithBenefits/**

!/_Holiday/
!/_Holiday/**

!/_Library/
!/_Library/**

!/_Postmaster/
!/_Postmaster/**

!/_SurvivalOfTheFittest/
!/_SurvivalOfTheFittest/**

!/_Template/
!/_Template/**
