#
# If all files excluded and you will include only specific sub-directories
# the parent path must matched before.
#

/**
!/.gitignore

!/_Template/**
!/_Banker/**
!/_CannotHeal/**
!/_Character/**
!/_Commands/**
!/_EnteredCombat/**
!/_Esc/**
!/_EventFinder/**
!/_Follow/**
!/_FriendsWithBenefits/**
!/_Holiday/**
!/_Library/**
!/_Postmaster/**
!/_SurvivalOfTheFittest/**
